{
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "jsx-a11y/href-no-hash": [0]
  },
  "globals": {
    "logger": true,
    "firebase": true
  }
}
